body {
    margin: 0;
}

form{
    background-image: url(https://images.unsplash.com/photo-1490818387583-1baba5e638af?ixlib=rb-1.2.1&auto=format&fit=crop&w=1831&q=80);
    /* background-image: url(./imagenes/imagen-fondo.jpg); */
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
}

h2 {
    font-family: 'Lobster', cursive;
}

 .container-form {
    width: 290px;
    height: 370px;
    align-content: center;
    border-radius: 9px;
    border-style: solid;
    border-color: #5D737E;  
    background-color: #FCFFFD;
    text-align: center;
    justify-content: flex-end;
    margin: 0% 20%;
    box-shadow: 10px 10px 10px #aaaaaa;
}

 .txt-form{
    display: block;
    margin-left: 15px;
    margin-bottom: 8px;
    padding-left: 5px;
    width: 250px;
    height: 40px;
    border-style: solid;
    border-color:rgb(82, 100, 181) ;  
}
.btn-form{
    margin-top: 15px;
    width: 250px;
    height: 40px;  
}

#btn-login-google, #btn-login-facebook {
    background: none;
    border: 0;
    padding: 0;
    width: auto;
    cursor: pointer;
}