* {
    font-family: Roboto, sans-serif;
}
body {
  margin: 0;
}

form{
  background-image: url(https://images.unsplash.com/photo-1490818387583-1baba5e638af?ixlib=rb-1.2.1&auto=format&fit=crop&w=1831&q=80);
/*   background-image: url(./imagenes/imagen-fondo.jpg);*/  
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
}

h2 {
  font-family: 'Lobster', cursive;
  font-size: 45px;
  color: #f99696;
  margin: 0 0 15px;
}
h3 {
  font-family: 'Lobster', cursive;
  font-size: 30px;
  color: #ff75d6;
}

p {
  color: #52585e;
}

.container-form {
  width: 330px;
  height: 480px;
  align-content: center;
  border-radius: 9px;
  border: 1px solid #d3dce6;
  background-color: #FCFFFD;
  text-align: center;
  margin: 0% 15%;
  box-shadow: 5px 5px 10px #aaaaaa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.txt-form{
  display: block;
  margin-top: 15px;
  padding: 0 5px;
  width: 80%;
  height: 40px;
  border: 1px solid #d3dce6;
  border-radius: 5px;
}

.txt-form[type="email"] {
  background-image: url(./imagenes/correo.svg);
  background-repeat: no-repeat;
  background-size: 6%;
  background-position: center right;
  background-position-x: 95%;
}

.txt-form[type="password"] {
  background-image: url(./imagenes/candado.svg);
  background-repeat: no-repeat;
  background-size: 6%;
  background-position: center right;
  background-position-x: 95%;
}

.btn-form{
  margin-top: 15px;
  width: 80%;
  height: 40px;
  border: none;
  font-size: 20px;
  color: #ffffff;
  border-radius: 5px;
  background: rgba(219, 57, 52, 0.76);
  background: #5dcad8;
  /* background: #FFC857;*/
  cursor: pointer;
}

/* Estilos de botones de redes sociales (Google - Facebook)*/
.container-btn{
  display: flex;
  justify-content: center;
}

.btn-form-icon {
  border: none;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 3px;
  padding: 0;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(241,243,244,1);
  transition: 0.5s;
}

.btn-form-icon img {
  border-radius: 50%;
  width: 65%;
}

.btn-form-icon:hover, .btn-form-icon:link, .btn-form-icon:visited, .btn-form-icon:active {
  border-radius: 50%;
  filter: grayscale(100%);
}

/* css de home */

.home-style {
  background-image: url(./imagenes/fondo-fitness.jpg);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(46, 202, 216);
}

#btn-home, #btn-profile {
  float: left;
}
#btn-cerrar{
    float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  cursor: pointer;
}

li a:hover:not(.active) {
  background-color: rgb(56, 128, 146);
}
textarea{
  width: 450px;
  height: 200px;
  margin-top: 29px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;

}
section{
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
figure{
  display:row;
  margin: auto;
  width: 90%;
  /* width: 380px;
  height: 250px; */
  border: 1px solid #566a81; 
  /* box-shadow: 5px 5px 10px #aaaaaa; */
  /* border-radius: 9px 0px; */
  border: 1px solid #d3dce6;
  border: none;
}
.portada{
  border: 2px solid #566a81;   
  background-color: rgba(157, 247, 255, 0.767);
  width: 100%;
  height: 100px;
  text-align: center;
  border: 3px solid #9acfd6;
  border: none;
  border-radius: 9px 9px 0 0;
}
.info-usuario{
  border: 2px solid #566a81;   
  background-color: rgb(234, 248, 255);
  width: 100%;
  height: 144px;
  display: flex; 
  align-items: center;
  border: 1px solid #d3dce6;
  border: none;
  border-radius: 0 0 9px 9px;
}

div > h3[id="nombre-usuario"] {
  width: 70%;
}

#nombre-usuario {
  text-align: center;
  justify-content: center;
  margin: 50px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 0;
}

.foto-usuario{
  width: 30%;
  border-radius: 50%;
  border: 4px solid #21c4c4;
}
.avatar-usuario{
  width: 90px;
  height: 90px;
  border-radius:150px;
  border: 4px solid #21c4c4;   
}

main {
  width: 490px;
  height: 250px;
  border-radius: 9px;
  border: 1px solid #d3dce6;
  background-color: #dbfbfce6;
  text-align: center;
  box-shadow: 5px 5px 10px #aaaaaa;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 12px;
}
#btn-add-note{
  margin-left: 285px;
}
#btn-subir-img{
  margin-left: 15px;
}

#btn-add-note,#btn-subir-img{
  text-align: center;
    color: rgb(24, 32, 32);
    display: inline-block;
    font-size: 10px;
    margin: 20px;
    padding: 8px 0;
    width: 100px;
    background-color: rgb(56, 216, 216);
    border-radius: 50px;
}
#btn-add-note:hover {
  padding-top: 7px;
}
#btn-add-note:hover {
  color: rgb(24, 19, 19);
  background-color: rgb(56, 177, 199);
}
.photo-avatar{
  display:flex;
  margin-left: 12px;
}

.texto-post{
  text-align: center;
  margin-top: 0 px;
}
.btn-post{
  text-align: end;
}
#love{
  height: 40px;
  width: 40px;
}
.reactions , .date {
  text-align: center;
}

.container-post{
  width: 520px;
  height: 350px;
  border-radius: 9px;
  border: 1px solid #d3dce6;
  background-color: #eaf8ff;
  margin: 0% 15% ;
  box-shadow: 5px 5px 10px #aaaaaa;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 12px;
}

#input-edit-note {
  height: 30px;
}

#btn-pen {
  width: 7%;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  section {
    align-items: center;
    margin: 0px;
  }

  figure {
    width: 380px;
    height: 250px;
    /* box-shadow: 5px 5px 10px #aaaaaa; */
    border-radius: 9px 0px;
    margin: 0 5%;
  }

  main {

  }
}