ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(46, 202, 216);
  }
  
  #btn-home, #btn-profile {
    float: left;
  }
  #btn-cerrar{
      float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: rgb(56, 128, 146);
  }
  body {
    margin: 0;
}
h2{
    font-family: 'Lobster', cursive;
}

form{
    background-image: url(https://images.unsplash.com/photo-1490818387583-1baba5e638af?ixlib=rb-1.2.1&auto=format&fit=crop&w=1831&q=80); 
    
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
}
 .container-form {
    width: 290px;
    height: 370px;
    align-content: center;
    border-radius: 9px;
    border-style: solid;
    border-color: #5D737E;
    background-color: #FCFFFD;
    text-align: center;
    justify-content: flex-end;
    margin: 0% 20%;
    box-shadow: 10px 10px 10px #aaaaaa;
}
 .txt-form{
    display: block;
    margin-left: 15px;
    margin-bottom: 8px;
    padding-left: 5px;
    width: 250px;
    height: 40px;
    border-style: solid;
    border-color:rgb(82, 100, 181);
}
.btn-form{
    margin-top: 15px;
    width: 250px;
    height: 40px;
}
